html{
	
	height: 100%;
}
body{
	background-image:linear-gradient(rgba(57, 255, 20, 0.1) , rgba(57, 255, 20, 1) );
	height: 0%;
}

.title{
	font-family: Myriad Pro, sans-serif, Helvetica, Arial;
	font-weight: lighter;
	font-size: 5.3vw;
	color: #000;
	font-style: normal;
	text-align: center;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	position: fixed;
}
.title .date{
	font-family: Myriad Pro, sans-serif, Helvetica, Arial
	font-weight:normal;
	font-size: 24px;
	color: #fff;
	margin-top:-5%;
}
/*Navigation-Bar BEGIN */
@media(min-width:768px){
	.navbar-inverse{
		background-color: rgba(0,0,0,0.8);
		border-radius:0px;
		width: 100%;
		position: fixed;
	}
	.navbar-nav  li a {
  		color: #fff;
  		font-size: 1em;
  		font-family: inherit;
  		font-weight: inherit;
  		transition:0.2s;
  		-webkit-transition:0.2s;
  		-moz-transition:0.2s;
  		-o-transition:0.2s;
	}
	.navbar .nav{
		width: 100% !important;
		position: fixed;
	}
	.navbar-nav  li{
		padding-left:5%;
		text-align: center;
	}
	.navbar-nav  li:nth-child(1){
		padding-left:27.5%;
	}
}
@media(max-width: 768px){
	.navbar-nav li >a{
		text-align: left;
		font-size: 20px;
		font-family: Myriad Pro, sans-serif;
		font-weight: lighter;
	}
	.navbar-nav li hr{
		border-color: #555;
		margin: 0 15px 0 15px;
	}
	.navbar-inverse{
		background-color: rgba(0,0,0,1);
	}
	.navbar-nav{
		background-color: rgba(0,0,0,0.8);
	}
}
.navbar-inverse .navbar-nav li >a:hover{
	color:rgba(153,153,153,1);
}
.navbar-toggle{
	float:left;
	color:#fff;
	border: none;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 1.2em;
  font-family: inherit;
  font-weight: inherit;
  transition:0.2s;
  -webkit-transition:0.2s;
  -moz-transition:0.2s; 
}
@media(max-width: 768px){
.navbar-brand{
	left: 50%;
	transform: translate(-50%);
	position: fixed;
}
}
.navbar-inverse .navbar-brand:hover{
	color:rgba(153,153,153,1);
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus
{
  background-color:rgba(0,0,0,0);
}

/*Navigation END */

/* Footer BEGIN */
	.fmenus{
		width:100%;
		display: inline-block;
		position: fixed;
		bottom: 0;
		text-align: center;
		margin-bottom: 2%;

	}
	.fmenus a{
		font-size: 20px;
		font-family: Myriad Pro, sans-serif, Helvetica, Arial;
		color: #000;
		font-weight: lighter;
		padding: 0 2% 0 2%;
		transition: 0.2s;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
	}
	.fmenus> a:hover{
		text-decoration: none;
		color: #fff;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
	}
.fmenus a img{
		height:32px;
		width:32px;
}